<nav class="left-nav">
  <h2>EMRKS</h2>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>

    <li><a routerLink="/doctors"          routerLinkActive="active">Doctors</a></li>
    <li><a routerLink="/nurses"           routerLinkActive="active">Nurses</a></li>
    <li><a routerLink="/appointments/new" routerLinkActive="active">Appointments</a></li>

    <li><a routerLink="/patients"         routerLinkActive="active">Patient Dashboard</a></li>
    <li><a routerLink="/pharmacy"         routerLinkActive="active">Pharmacies</a></li>
    <li><a routerLink="/tests"            routerLinkActive="active">Medical Tests</a></li>

  </ul>
</nav>
