<!-- emrks-home.component.html -->
<div class="emrks-home">
  <h1>EMRKS Home</h1>
  <div class="tiles-grid">
    <div class="tile" routerLink="/patients">
      <i class="fas fa-users"></i>
      <p>Patients</p>
    </div>
    <div class="tile" routerLink="/doctors">
      <i class="fas fa-user-md"></i>
      <p>Doctors</p>
    </div>
    <div class="tile" routerLink="/nurses">
      <i class="fas fa-user-nurse"></i>
      <p>Nurses</p>
    </div>
    <div class="tile" routerLink="/appointments/new">
      <i class="fas fa-calendar-alt"></i>
      <p>Create Appointment</p>
    </div>
    <div class="tile" routerLink="/medical-tests">
      <i class="fas fa-vial"></i>
      <p>Medical Tests</p>
    </div>
    <div class="tile" routerLink="/prescriptions/new">
      <i class="fas fa-prescription-bottle-alt"></i>
      <p>Create Prescription</p>
    </div>
    <div class="tile" routerLink="/pharmacy">
      <i class="fas fa-prescription-bottle"></i>
      <p>Pharmacy</p>
    </div>
    <div class="tile" routerLink="/insurance">
      <i class="fas fa-shield-alt"></i>
      <p>Insurance</p>
    </div>
  </div>
</div>
